@import url('https://fonts.googleapis.com/css2?family=Open Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

p a:link {
  color: #E17367;
}

.text-mapbiomasid{
    color: #86B696;
}

.bg-mapbiomasid{
    background-color: #86B696;
}
.bg-landy{
    background-color: #9EC4AB;
}
.border-landy{
    border-color: #9EC4AB;
}

.bg-fire{
    background-color: #E17367;
}
.border-fire{
    border-color: #E17367;
}

.bg-alerta{
    background-color: #772E20;
}
.border-alerta{
    border-color: #772E20;
}
.bg-landy-2{
    background-color: #E9F4ED;
}

.bg-tim{
    background-color: #75c7e0;
}

a:link {
  /* color: #E17367; */ /* Remove or comment this out */
  text-decoration: none;
}

/* Add this more specific rule at the end of your file */
p a:link, p a:visited, p a:hover, p a:active {
  color: #E17367 !important;
}



